form{
    margin:40px;
}


.form-control{
    /* margin-left: 10px; */
    width: 50%;
    /* float: right; */
}

#InputAbout{
    padding: 50px;
    width:100%;
}

h1{
    margin: 40px;
    align-items: center;
}

.icons-container{
    padding: 1rem 0;
}

.icon{
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 8px;
    transition: .3s;
}

